/* SectionTitle.module.css */
.sectionTitleSection {
  overflow: hidden;
}

.sectionHeading {
  text-transform: capitalize;
  line-height: 45px;
  font-size: 35px; /* Default font size for desktop */
  color: #051036; /* Ensure the color is defined */
  margin: 0; /* Remove default margin */
}

.titleSpan {
  color: #ff3221;
}

.sectionSubTitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #ff3221;
}

.sectionTitleContent {
  font-size: 20px; /* Default size for content */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Media Queries for Responsive Font Sizes */
@media (max-width: 1280px) {
  .sectionHeading {
    font-size: 32px; /* Font size for large tablets */
  }
  
  .sectionTitleContent {
    font-size: 20px; /* Adjusted size for tablets */
  }
}

@media (max-width: 1100px) {
  .sectionHeading {
    font-size: 28px; /* Font size for medium tablets */
  }

  .sectionTitleContent {
    font-size: 18px; /* Adjusted size for tablets */
  }
}

@media (max-width: 1024px) {
  .sectionHeading {
    font-size: 24px; /* Font size for smaller tablets */
  }

  .sectionTitleContent {
    font-size: 20px; /* Adjusted size for tablets */
  }
}

@media (max-width: 767px) {
  .sectionHeading {
    font-size: 24px; /* Font size for mobile */
    line-height: 34px;
  }

  .sectionTitleContent {
    font-size: 16px; /* Adjusted size for mobile */
  }
}
